footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  margin-top: 50px;
  background: #263238;
}

footer a {
  color: #fff;
}
