*{
  box-sizing: border-box;
  font-family: 'Prompt';
  margin: 0;
  padding: 0;
}

body{
  background-color: aliceblue;
}

button {
  font-size: 16px;
  padding: 8px 16px;
  line-height: 24px;
  color: #fff;
  background-color: #263238;
  border-style: solid;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 16px;
  border: none;
}
